@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Regular.ttf');
    font-style: normal;
}

body {
    font-family: 'Raleway';
}

.content {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #1E90FF;
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}



h2 {
    font-size: 30px;
}

.sidebar {
    min-width: 220px;
    width: 20%;
    border: 1px solid rgb(194, 194, 194);
    padding: 15px;
}

.list-section {
    margin: 20px;
    width: 80%;
}

.project-list {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.project-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    aspect-ratio: 1;
    height: 25px;
    margin: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    color: #3498db;
    cursor: pointer;
}

#project-dialog {
    border-radius: 8px;
    border: 0;
    padding: 25px;
}

#project-dialog h2 {
    font-weight: bold;
}

#project-dialog button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: 'Raleway';
    font-weight: bold;
}

#project-dialog #project-confirm-button {
    background-color: #4CAF50;
}

#project-dialog #project-confirm-button:hover {
    background-color: #45a049;
}

.accordion-item {
    width: 100%;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}